*{

    margin: 0%;
    padding: 0%;
// height: 635px;



}
.container{
    margin-top: 100px;


}

.main{

    margin: auto;
    width: 1050px;
    height: 500px;
    /* background-color: #096A67; */
    background-color: white;
    display: flex;


}
.left{
    height: 100%;
    width: 50%;
    background-color: #096A67;

    background-image: url(../images/Africa.jpg);
    background-position: center;
    background-size: contain;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.right{
    width: 50%;
    height: 100%;
    background-color: red;
    background-color: #F5F6F1;
    margin: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
// background-color: #096A67;
    background-color: #096a6723;
    margin-left: 50%;
    margin-top: 5%;
    background-image: url(../images/Africa.jpg);
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: center;
}
.pOne{

    margin-left: 39%;
    margin-top: 2%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Poppins;
}
.formStyle{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    border: none;
    margin: auto;
}

.style{
    width: 250px;
    margin-top: 15px;
    margin-left: 150px;
    height: 42px;
    background-color: #e4e4e4;
    background-color: #096a6723;

    border: none;
    background-image: url(../images/Africa.jpg);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-size: 25px;
    padding: 8px 10px 6px 45px;
    box-sizing: border-box;

// border-radius: 8px;


//         input[type=text]{
           //             width: 100%;
           //   box-sizing: border-box;
           //   border: 2px solid #ccc;
           //   border-radius: 4px;
           //   font-size: 16px;
           //   background-color: white;
           //   background-image: url(../../../../public/images/mail.png);
           //   background-position: 10px 10px;
           //   background-repeat: no-repeat;
           //   padding: 12px 20px 12px 40px;
           // }



.styleOne{
    width: 250px;
    margin-top: 25px;
    margin-left: 150px;
    height: 42px;
// background-color: #e4e4e4;
    background-color: #096a6723;
    border: none;
    background-image: url(../images/Africa.jpg);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-size: 29px;
    padding: 8px 10px 6px 40px;
    box-sizing: border-box;

// border-radius: 8px;
}

.styleOne:focus, .style:focus{
    outline: none;
    border: 2px solid #096a67bf;
}

.butStyle{

    font-weight: bold;
    font-size: 1.1em;
    margin-top: 50px;
    width: 250px;
    height: 40px;
    margin-left: 150px;
    border: none;
    border-radius: 3px;
    background-color: #096A67;
    /* background-color: ; */
    color: white;
    font-family: Poppins;

}
.myspan{
    margin-left: 170px;
    margin-top: 10px;
    font-weight: 525;
    font-family: Poppins;
    font-size: small;

}
span{
    color: #096A67;
    font-weight: bolder;

}
.myImg{
    width: 250px;
    height:  160px;
    margin-left: 130px;
    margin-top: 85px;

}
}
